body {
  display: grid;
  grid-template-rows: 2fr 1fr;
  height: 80vh;
}
.mainContainer {
  margin: auto;
}
.displayContainer {
  margin: auto;
}
.button {
  padding: 5px 15px;
  background-color: black;
  color: white;
  font-weight: 700;
}
