#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
}

#gameContol {
  display: flex;
  justify-content: center;
  align-items: center;

}
input {
  padding: 20px 60px;
  font-size: 2rem;
  background-color: blue;
  margin: 20px;
  border-radius: 5px;

}