#game-container {
  margin: 10px auto;
}
h1 {
  width: 100%;
  text-align: center;
}
#game div {
  border: 1px solid black;
  width: 18%;
  height: 200px;
  margin: 10px;
  display: inline-block;
}
#gameContol {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  padding: 20px 40px;
  font-size: 2rem;
  margin: 20px;
  border-radius: 5px;
}
#statOver {
  background-color: orange;
}
#newGame {
  background-color: green;
}
